
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* shared styles */

.btn-primary {
	background-color: #4E47FF;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	padding: 12px 36px;
	border-radius: 10px;
	border: none;
}

.heading-color {
	color: #252432;
}


/* header section */


header {
	background-image: url("../styles/assets/Hero-bg.png");
}


/* nav section */

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 51.5px 150px;
}

.nav-title {
	font-size: 34px;
	font-weight: 900;
	color: #4E47FF;
}

nav a {
	font-size: 16px;
	font-weight: bold;
}


/* banner section */


.banner {
	max-width: 905px;
	margin: 0 267.5px 152px 267.5px;
	text-align: center;
}

.banner-hading {
	font-size: 65px;
	font-weight: bold;
	margin-bottom: 0;
}

.ban-but {
	margin-top: 37px;
}


/* main section */


main {
	max-width: 1140px;
	margin: 0 auto;
}


/* Action Section */


.action {
	display: flex;
	justify-content: space-between;
	marign-top: 116px;
}

.action-left {
	max-width: 517px;
}

.action-title {
	font-size: 42px;
	font-weight: bold;
}

.action-subtitle {
	font-size: 24px;
	color: #252432;
}

.action-image {
	width: 403px;
	border-radius: 48px;
}