
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* shared styles */

.btn-primary {
	background-color: #4E47FF;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	padding: 12px 36px;
	border-radius: 10px;
	border: none;
}

.heading-color {
	color: #252432;
}

.bg-first {
	background-color: rgba(78, 71, 255, 0.1);
}


/* header section */


header {
	background-image: url("../styles/assets/Hero-bg.png");
}


/* nav section */

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 51.5px 150px;
}

.nav-title {
	font-size: 34px;
	font-weight: 900;
	color: #4E47FF;
}

nav a {
	font-size: 16px;
	font-weight: bold;
}


/* banner section */


.banner {
	max-width: 905px;
	margin: 0 267.5px 152px 267.5px;
	text-align: center;
}

.banner-hading {
	font-size: 65px;
	font-weight: bold;
	margin-bottom: 0;
}

.ban-but {
	margin-top: 37px;
}


/* main section */


main {
	max-width: 1140px;
	margin: 0 auto;
}


/* Action Section */


.action {
	display: flex;
	justify-content: space-between;
	margin-top: 116px;
}

.action-left {
	max-width: 517px;
}

.action-title {
	font-size: 42px;
	font-weight: bold;
}

.action-subtitle {
	font-size: 24px;
	color: #252432;
}

.action-image {
	width: 403px;
	border-radius: 48px;
}


/* Productive Users Section */


.Productive-Users {
	align-items: center;
	margin-top: 116px;
	padding: 50px 142px;
	border-radius: 24px;
}

.Productive-Users-title {
	color: #252432;
	font-size: 38px;
	font-weight: bold;
	text-align: center;
}

.Users {
	display: flex;
	justify-content: space-around;
	gap: 158px;
}

.User {
	align-items: center;
}

.numbers {
	color: #4E47FF;
	font-size: 80px;
	font-weight: bold;
	margin-bottom: 0;
}

.subject {
	color: #000000;
	font-size: 20px;
	margin-top: 0;
}


/* users feedback section */



.users-feedback {
	margin-top: 137px;
}

.users-feedback-title {
	text-align: center;
	color: #252432;
	font-size: 42px;
	font-weight: bold;
}

.user-feedbacks {
	display: flex;
	/* justify-content: space-around; */
	gap: 20px;
}

.user-feedback {
	border-radius: 14px;
	padding: 24px;
	box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
}

.feedback-title {
	color: black;
	font-size: 24px;
	font-weight: bold;
}

.feedback-subtitle {
	font-size: 16px;
}

.user {
	display: flex;
	gap: 12px;
	align-items: center;
}

.user-image {
	width: 40px;
	border-radius: 9999px;
	margin: 0;
	height: 40px;
}

.user-title {
	color: #757575;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 0;
}

.user-subtitle {
	color: #B3B3B3;
	font-size: 16px;
	margin-top: 0;
}